#textdomain wesnoth-GambCiv

[multiplayer]
id=multiplayer_GCBrawl
name= _ "3p — GambCiv Brawl"
map_data="{~add-ons/GambCiv/maps/3pLight.map}"
description= _ "A classic GambCiv map originally created by Light. It has been redone to incorporate the new 1.10 terrains."

{DEFAULT_SCHEDULE}
{DEFAULT_MUSIC_PLAYLIST}

[side]
side=1
team_name=1
user_team_name= _ "One"
canrecruit=yes
controller=human
[/side]

[side]
side=2
team_name=2
user_team_name= _ "Two"
canrecruit=yes
controller=human
[/side]

[side]
side=3
team_name=3
user_team_name= _ "Three"
canrecruit=yes
controller=human
[/side]

[event]
  name = turn 1
  [chat]
    speaker = _ "CREDITS"
    message = _ "This map was originally created by Light for GEB."
  [/chat]
[/event]
[/multiplayer]