#textdomain wesnoth-GambCiv

[multiplayer]
id=multiplayer_GCPyramid
name= _ "4p — GambCiv Pyramid Island"
map_data="{~add-ons/GambCiv/maps/4pPyramidIsland.map}"
description= _ "A four player map by AlaskanAvenger that works well for 2v2 or FFA gameplay."

{DEFAULT_SCHEDULE}
{DEFAULT_MUSIC_PLAYLIST}

[side]
side=1
team_name=1
user_team_name= _ "One"
canrecruit=yes
controller=human
[/side]

[side]
side=2
team_name=2
user_team_name= _ "Two"
canrecruit=yes
controller=human
[/side]

[side]
side=3
team_name=3
user_team_name= _ "Three"
canrecruit=yes
controller=human
[/side]

[side]
side=4
team_name=4
user_team_name= _ "Four"
canrecruit=yes
controller=human
[/side]

[event]
  name = turn 1
  [chat]
    speaker = _ "CREDITS"
    message = _ "This map was created by AlaskanAvenger for GambCiv."
  [/chat]
[/event]
[/multiplayer]