#textdomain wesnoth-GambCiv

[multiplayer]
id=multiplayer_GCFactory
name= _ "6p — GambCiv Factory"
map_data="{~add-ons/GambCiv/maps/Factory.map}"
description= _ "..."

{DEFAULT_SCHEDULE}
{DEFAULT_MUSIC_PLAYLIST}
victory_when_enemies_defeated=no

[side]
side=1
team_name=1
user_team_name= _ "North"
canrecruit=yes
controller=human
[/side]

[side]
side=2
team_name=2
user_team_name= _ "Northeast"
canrecruit=yes
controller=human
[/side]

[side]
side=3
team_name=3
user_team_name= _ "Southeast"
canrecruit=yes
controller=human
[/side]

[side]
side=4
team_name=4
user_team_name= _ "South"
canrecruit=yes
controller=human
[/side]

[side]
side=5
team_name=5
user_team_name= _ "Southwest"
canrecruit=yes
controller=human
[/side]

[side]
side=6
team_name=6
user_team_name= _ "Northwest"
canrecruit=yes
controller=human
[/side]
[/multiplayer]