#define CANNOTBUILD ID NAME MESSAGE CONDITION
  [set_menu_item]
    id = {ID}
    description = {NAME}
    image = "buttons/group_x.png"
    [show_if]
      {CONDITION}
    [/show_if]
    [command]
      [chat]
	speaker = "HELP"
	message = {MESSAGE}
	side = $side_number
      [/chat]
    [/command]
  [/set_menu_item]
#enddef

[event]
  name = prestart

  {CANNOTBUILD aa_nocommunity "No community nearby." "You have to be within 7 hexes of your leader on a keep to build. Or you can be within 15 hexes of a hut that you own." (
    [not]
      {c_COMMUNITY_NEARBY}
    [/not]
  )}

  {CANNOTBUILD aa_noworker "No worker nearby." "You can only build within 3 hexes of a peasant." (
    [not]
      {c_BUILDER_NEARBY}
    [/not]
  )}

  {CANNOTBUILD aa_justmodified "Used this hex already." "You can only modify a hex once per turn. If you wait until your next turn, you can try building here again." (
    {c_JUST_MODIFIED}
  )}

  {CANNOTBUILD aa_enemycommunity "Enemy community nearby." "You can't build right next to an enemy hut. Capture it first." (
    {c_ENEMY_COMMUNITY_NEARBY}
  )}
[/event]