####----- Setup tips -----####
[event]
  name = prestart

  {VARIABLE tips[0].message "GambCiv goes great with most of the generators from Sigurd's Random Maps."}
  {VARIABLE tips[1].message "You can play on any of the default Wesnoth maps with GambCiv."}
  {VARIABLE tips[2].message "SurvivalXtreme is compatibile with GambCiv."}
  {VARIABLE tips[3].message "Spring lasts 13-17 turns, but Winter only lasts 10-14."}
  {VARIABLE tips[4].message "If you're not playing with any bonus resources, you should plant 4 wheat on turn one. That way you can get a hut on turn two."}
  {VARIABLE tips[5].message "Continuous segments of railroad cost 0 movement points."}
  {VARIABLE tips[6].message "Make sure to guard your railroads from enemies."}
  {VARIABLE tips[7].message "You can find lots of GambCiv help at http://grickit.github.com/"}
  {VARIABLE tips[8].message "Stealing your opponents crops costs you nothing, and deprives them of needed resources."}
  {VARIABLE tips[9].message "Fishing boats are small enough to fit inside transport ships."}
  {VARIABLE tips[10].message "All boats have 0% defense on land."}
  {VARIABLE tips[11].message "You can build anywhere within 3 hexes of a peasant."}
  {VARIABLE tips[12].message "Mountains can't be rebuilt. Be careful about destroying them."}
  {VARIABLE tips[13].message "Horsemen are great for killing peasants."}
  {VARIABLE tips[14].message "You should build your trading posts far away from your base; somewhere that you are comfortable with the other players sending embassadors."}
  {VARIABLE tips[15].message "Lumbermills double the material gained from trees harvested around them."}
  {VARIABLE tips[16].message "Recruiters, lumbermills, and shipyards all have a range of 3 hexes."}
  {VARIABLE tips[17].message "Using gold mines will give you more gold per action point - and use less land - than farming tobacco."}
  {VARIABLE tips[18].message "Using fishing boats will give you more food per action point - and use less land - than farming wheat."}
  {VARIABLE tips[19].message "Taking over enemy huts should be your number one priority during an attack."}
[/event]

[event]
  name = new turn
  first_time_only = no

  {VARIABLE testturn $turn_number}
  {VARIABLE_OP testturn modulo 5}
  [if]
    {VARCH testturn equals 0}
    [then]
      {VARIABLE_OP randotip rand 1..$tips.length}
      {VARIABLE_OP randotip add -1}
      [chat]
	speaker = "TIPS"
	message = $tips[$randotip].message
      [/chat]
      {CLEAR_VARIABLE randotip}
    [/then]
  [/if]
  {CLEAR_VARIABLE testturn}
[/event]