####-----####----- Level 1 -----####-----####
#define b_MARK_MODIFIED
  [store_locations]
    x,y = $x1,$y1
    [or]
      find_in=just_modified
    [/or]
    variable=just_modified
  [/store_locations]
  [item]
    x,y = $x1,$y1
    image = "scenery/rune4-glow.png"
  [/item]
#enddef

#define b_TERRAIN TERRAIN LAYER
  [terrain]
    x,y = $x1,$y1
    terrain = {TERRAIN}
    layer = {LAYER}
  [/terrain]
  [capture_village]
    x,y = $x1,$y1
    side = $side_number
  [/capture_village]
  [scroll_to]
    x,y = $x1,$y1
    check_fogged = true
  [/scroll_to]
  {b_MARK_MODIFIED}
#enddef

####-----####----- Level 2 -----####-----####
#define b_GIVE_RESOURCES SIDE AP_COST GOLD_COST FOOD_COST MATERIAL_COST
  {VARIABLE_OP side_stats[{SIDE}].action_points add {AP_COST}}
  {VARIABLE_OP side_stats[{SIDE}].food add {FOOD_COST}}
  {VARIABLE_OP side_stats[{SIDE}].material add {MATERIAL_COST}}
  [gold]
    side = {SIDE}
    amount = {GOLD_COST}
  [/gold]
#enddef

####-----####----- Level 3 -----####-----####
#define b_BASIC_BUILD TERRAIN LAYER AP_COST GOLD_COST FOOD_COST MATERIAL_COST SOUND
[if]
  {c_HAVE_RESOURCES {AP_COST} {GOLD_COST} {FOOD_COST} {MATERIAL_COST}}
  [then]
    {b_TERRAIN {TERRAIN} {LAYER}}
    {b_GIVE_RESOURCES $side_number -{AP_COST} -{GOLD_COST} -{FOOD_COST} -{MATERIAL_COST}}
    [sound]
      name={SOUND}
    [/sound]
  [/then]
  [else]
    {m_RESOURCES_ERROR {AP_COST} {GOLD_COST} {FOOD_COST} {MATERIAL_COST}}
  [/else]
[/if]
#enddef

#define b_BASIC_BUILD_OPTION DESCRIPTION IMAGE TERRAIN LAYER AP_COST GOLD_COST FOOD_COST MATERIAL_COST SOUND
[option]
  message = {MENU_IMG_TXT "{IMAGE}~SCALE(36,36)" {DESCRIPTION}} + " | -{AP_COST} Action | -{GOLD_COST} Gold | -{FOOD_COST} Food | -{MATERIAL_COST} Material"
  [command]
    {b_BASIC_BUILD {TERRAIN} {LAYER} {AP_COST} {GOLD_COST} {FOOD_COST} {MATERIAL_COST} {SOUND}}
  [/command]
[/option]
#enddef

####-----####----- Level 4 -----####-----####
[event]
  name = prestart

 {m_MENU_ITEM_OPENING "za_destroy" "Destroy" "buttons/group_obstacle.png" {s_TERRAIN_DESTRUCTABLE}}
    [if]
      {VARCH side_stats[$side_number].action_points greater_than 0}
      [then]
	{b_TERRAIN "Rd" both}
	[sound]
	  name="flame-big-miss.ogg"
	[/sound]
	{b_GIVE_RESOURCES $side_number -1 0 0 0}
      [/then]
      [else]
	{m_RESOURCES_ERROR 1 0 0 0}
      [/else]
    [/if]
  {m_MENU_ITEM_CLOSING}

  {m_MENU_ITEM_OPENING "ab_convertkeep" "Convert to keep" "buttons/group_castle.png" C*}
    [if]
      {VARCH side_stats[$side_number].action_points greater_than 0}
      [then]
	[store_locations]
	  x,y = $x1,$y1
	  variable=castlehex
	[/store_locations]
	[set_variables]
	  name=letters
	  [split]
	    list=$castlehex[0].terrain
	    key=letter
	    separator=""
	  [/split]
	[/set_variables]
	{VARIABLE letters[0].letter "K"}
	[set_variable]
	  name=keepterrain
	  [join]
	    variable=letters
	    key=letter
	    separator=""
	  [/join]
	[/set_variable]
	{b_TERRAIN $keepterrain both}
	[sound]
	  name="spear.wav"
	[/sound]
	{b_GIVE_RESOURCES $side_number -1 0 0 0}
	{CLEAR_VARIABLE castlehex}
	{CLEAR_VARIABLE letters}
	{CLEAR_VARIABLE keepterrain}
      [/then]
      [else]
	{m_RESOURCES_ERROR 1 0 0 0}
      [/else]
    [/if]
  {m_MENU_ITEM_CLOSING}
[/event]
