#textdomain wesnoth-GambCiv
####----- Opening Credits -----####
[event]
  name = start
  [chat]
    speaker = _ "CREDITS"
    message = _ "GambCiv 0.8.2 (beta)
GambCiv was created by Gambit, with lots of help testing from friends.
Thanks to Espreon, GambCiv is now translatable. Hopefully some day this will help bring it to an even wider audience.

Also, a special thanks to all the GEB fans who kept insisting that it be made.
And thank you for playing. That you derive entertainment from this project makes the whole thing worthwhile!"
  [/chat]
  [chat]
    speaker = _ "HELP"
    message = _ "You can report bugs and get help at: http://grickit.github.com/
There's also a thread on the Wesnoth forums: http://r.wesnoth.org/p505612"
  [/chat]
[/event]

####----- Setup Variables -----####
[event]
  name = side turn 1
  first_time_only = no

  [store_side]
    side = $side_number
    variable = this_side
  [/store_side]
  {VARIABLE side_stats[$side_number].color $this_side.color}
  {CLEAR_VARIABLE this_side}

  [if]
    [have_unit]
      side = $side_number
      type = Peasant
      canrecruit = yes
    [/have_unit]
    [then]
      {VARIABLE side_stats[$side_number].controller "settler"}
      {VARIABLE side_stats[$side_number].citizens 5}
      {VARIABLE side_stats[$side_number].action_points 0}
      {VARIABLE side_stats[$side_number].food 10}
      {VARIABLE side_stats[$side_number].material 30}
      {VARIABLE side_stats[$side_number].wheat_yield 3}
      {VARIABLE side_stats[$side_number].tobacco_yield 11}
      {VARIABLE side_stats[$side_number].mushroom_yield 25}
      {VARIABLE side_stats[$side_number].tree_yield 15}
      {VARIABLE side_stats[$side_number].mine_yield 20}
      {VARIABLE side_stats[$side_number].fish_yield 6}
    [/then]
  [/if]

  [if]
    [have_unit]
      side = $side_number
      type = Orcish Warlord
      canrecruit = yes
    [/have_unit]
    [then]
      {VARIABLE side_stats[$side_number].controller "barbarian"}
    [/then]
  [/if]
[/event]

####----- Prepare the map -----####
[event]
  name = turn 1
  [terrain]
    terrain="^"
    layer=overlay
    [and]
      terrain=*^V*
    [/and]
  [/terrain]
  [terrain]
    terrain="^"
    layer=overlay
    [and]
      terrain=*^Esd,*^Efm,*^Ewl,*^Edpp,*^Es,*^Esd,*^Ewf,*^Ewl,*Eff,*^Edp,*^Wm,*^Ii,*^Ufi
    [/and]
  [/terrain]
  [terrain]
    terrain="Gd^Gvs"
    layer=both
    [and]
      terrain=*^Gvs
    [/and]
  [/terrain]
  [terrain]
    terrain="Ww"
    layer=both
    [and]
      terrain=Wwf,Wwr,*^Bw*
    [/and]
  [/terrain]
[/event]

####----- Calculate action points every turn -----####
[event]
  name = side turn
  first_time_only = no
  [if]
    {VARCH side_stats[$side_number].controller equals "settler"}
    [then]
      {VARIABLE side_stats[$side_number].citizens 5}
      [store_locations]
	terrain="*^Vc"
	owner_side=$side_number
	variable=owned_huts
      [/store_locations]
      {FOREACH owned_huts i}
	{VARIABLE_OP side_stats[$side_number].citizens add "$(25/$side_stats[$side_number].citizens)"}
      {NEXT i}
      {CLEAR_VARIABLE owned_huts}

      [store_locations]
	terrain="*^Vh"
	owner_side=$side_number
	variable=owned_huts
      [/store_locations]
      {FOREACH owned_huts i}
	{VARIABLE_OP side_stats[$side_number].citizens add "$(25/$side_stats[$side_number].citizens)"}
	{VARIABLE_OP side_stats[$side_number].citizens add "$(25/$side_stats[$side_number].citizens)"}
      {NEXT i}
      {CLEAR_VARIABLE owned_huts}
      {VARIABLE side_stats[$side_number].action_points $side_stats[$side_number].citizens}
    [/then]
  [/if]
[/event]

####----- Clear our list of hexes which were "just modified" every turn -----####
[event]
  name = side turn
  first_time_only = no
  {FOREACH just_modified i}
    [remove_item]
      x = $just_modified[$i].x
      y = $just_modified[$i].y
      image = "scenery/rune4-glow.png"
    [/remove_item]
  {NEXT i}
  {CLEAR_VARIABLE just_modified}
[/event]

####----- Check if you have enough resources to recruit -----####
[event]
  name = prerecruit
  first_time_only = no
  [filter_condition]
    {VARCH side_stats[$side_number].controller equals "settler"}
    {VARCH turn_number greater_than 1}
  [/filter_condition]
  [if]
    {VARCH side_stats[$side_number].action_points equals 0}
    [or]
      {VARCH side_stats[$side_number].food equals 0}
    [/or]
    [then]
      [gold]
	side=$side_number
	amount=$unit.cost
      [/gold]
      [kill]
	x,y=$x1,$y1
      [/kill]
      {m_RESOURCES_ERROR 1 0 1 0}
    [/then]
    [else]
      {VARIABLE_OP side_stats[$side_number].action_points add -1}
      {VARIABLE_OP side_stats[$side_number].food add -1}
    [/else]
  [/if]
[/event]

####----- Ask the first player how the game should be set up -----####
[event]
  name = side turn
  first_time_only = yes
  [store_unit]
    [filter]
      side = $side_number
      canrecruit = yes
    [/filter]
    variable = player1
  [/store_unit]
  [message]
    speaker = narrator
    message = _ "Do you want to add bonus resources?"
    side_for = $side_number
      [option]
	  message = {MENU_IMG_TXT "items/gold-coins-small.png~SCALE(36,36)" ( _ "None")}
	[command]
	  {VARIABLE bonus_resources_string "no"}
	[/command]
      [/option]
      [option]
	  message = {MENU_IMG_TXT "items/gold-coins-medium.png~SCALE(36,36)" ( _ "Some")}
	[command]
	  {VARIABLE bonus_resources_string "some"}
	[/command]
      [/option]
      [option]
	  message = {MENU_IMG_TXT "items/gold-coins-large.png~SCALE(36,36)" ( _ "Lots")}
	[command]
	  {VARIABLE bonus_resources_string "a lot of"}
	[/command]
      [/option]
  [/message]
  [chat]
    speaker = _ "INFO"
    message = _ "$player1.name has chosen to add $bonus_resources_string bonus resources. You will get them next turn."
  [/chat]

  [if]
    {VARCH GambCiv_disable_seasons not_equals "yes"}
    [then]
      [message]
	speaker = narrator
	message = _ "Do you want to enable seasons?"
	side_for = $side_number
	  [option]
	    message = {MENU_IMG_TXT "misc/blank-hex.png~BLIT(terrain/grass/green.png~RC(000000>red)~SCALE(36,36),0,0)~BLIT(terrain/grass/dry.png~RC(000000>blue)~SCALE(36,36),0,36)~BLIT(terrain/frozen/snow.png~RC(000000>green)~SCALE(36,36),27,18)~SCALE(36,36)" {STR_YES} }
	    [command]
	      [fire_event]
		name = spring
	      [/fire_event]
	    [/command]
	  [/option]
	  [option]
	      message = {MENU_IMG_TXT "terrain/grass/green.png~SCALE(36,36)" {STR_NO} }
	    [command]
	      {VARIABLE GambCiv_disable_seasons "yes"}
	      [chat]
		speaker = _ "INFO"
		message = _ "$player1.name has disabled seasons for this match."
	      [/chat]
	    [/command]
	  [/option]
      [/message]
    [/then]
  [/if]

  [if]
    [have_unit]
      canrecruit = yes
      count = 2-99999
    [/have_unit]
    [then]
      [message]
	speaker = narrator
	message = _ "Do you want to allow players to keep crowning new leaders?"
	side_for = $side_number
	  [option]
	    message = {MENU_IMG_TXT "icons/icon-hotseat.png~SCALE(36,36)" {STR_YES} }
	    [command]
	      {VARIABLE GambCiv_allow_new_leader "yes"}
	      [chat]
		speaker = _ "INFO"
		message = _ "$player1.name has chosen slaughter rules (kill all enemy units to win)."
	      [/chat]
	    [/command]
	  [/option]
	  [option]
	      message = {MENU_IMG_TXT "icons/icon-hostgame.png~SCALE(36,27)" {STR_NO} }
	    [command]
	      {VARIABLE GambCiv_allow_new_leader "no"}
	      [chat]
		speaker = _ "INFO"
		message = _ "$player1.name has chosen classic rules (kill the enemy leaders to win)."
	      [/chat]
	    [/command]
	  [/option]
      [/message]
    [/then]
  [/if]
  {CLEAR_VARIABLE player1}
[/event]

####----- Distribute any bonus resources -----####
[event]
  name = side turn 2
  first_time_only = no
  [if]
    {VARCH side_stats[$side_number].controller equals "settler"}
    [then]
      [switch]
	variable = bonus_resources_string
	[case]
	  value = "some"
	  {VARIABLE_OP side_stats[$side_number].food add 10}
	  {VARIABLE_OP side_stats[$side_number].material add 30}
	  [gold]
	    side = $side_number
	    amount = 100
	  [/gold]
	  [chat]
	    speaker = _ "INFO"
	    message = _ "You have received a bonus of 100 gold, 10 food, and 30 material."
	    side = $side_number
	  [/chat]
	[/case]

	[case]
	  value = "a lot of"
	  {VARIABLE_OP side_stats[$side_number].food add 20}
	  {VARIABLE_OP side_stats[$side_number].material add 60}
	  [gold]
	    side = $side_number
	    amount = 200
	  [/gold]
	  [chat]
	    speaker = _ "INFO"
	    message = _ "You have received a bonus of 200 gold, 20 food, and 60 material."
	    side = $side_number
	  [/chat]
	[/case]
      [/switch]
    [/then]
  [/if]
[/event]

####----- Setup tips -----####
[event]
  name = prestart

  {VARIABLE tips[0].message "GambCiv goes great with most of the generators from Sigurd's Random Maps."}
  {VARIABLE tips[1].message "You can play on any of the default Wesnoth maps with GambCiv."}
  {VARIABLE tips[2].message "SurvivalXtreme is compatibile with GambCiv."}
  {VARIABLE tips[3].message "Spring lasts 13-17 turns, but Winter only lasts 10-14."}
  {VARIABLE tips[4].message "If you're not playing with any bonus resources, you should plant 4 wheat on turn one. That way you can get a hut on turn two."}
  {VARIABLE tips[5].message "Continuous segments of railroad cost 0 movement points."}
  {VARIABLE tips[6].message "Make sure to guard your railroads from enemies."}
  {VARIABLE tips[7].message "You can find lots of GambCiv help at http://grickit.github.com/"}
  {VARIABLE tips[8].message "Stealing your opponents crops costs you nothing, and deprives them of needed resources."}
  {VARIABLE tips[9].message "Fishing boats are small enough to fit inside transport ships."}
  {VARIABLE tips[10].message "All boats have 0% defense on land."}
  {VARIABLE tips[11].message "You can build anywhere within 3 hexes of a peasant."}
  {VARIABLE tips[12].message "Mountains can't be rebuilt. Be careful about destroying them."}
  {VARIABLE tips[13].message "Horsemen are great for killing peasants."}
  {VARIABLE tips[14].message "You should build your trading posts far away from your base; somewhere that you are comfortable with the other players sending embassadors."}
  {VARIABLE tips[15].message "Lumbermills double the material gained from trees harvested around them."}
  {VARIABLE tips[16].message "Recruiters, lumbermills, and shipyards all have a range of 3 hexes."}
  {VARIABLE tips[17].message "Using gold mines will give you more gold per action point - and use less land - than farming tobacco."}
  {VARIABLE tips[18].message "Using fishing boats will give you more food per action point - and use less land - than farming wheat."}
  {VARIABLE tips[19].message "Taking over enemy huts should be your number one priority during an attack."}
[/event]

[event]
  name = new turn
  first_time_only = no

  {VARIABLE testturn $turn_number}
  {VARIABLE_OP testturn modulo 5}
  [if]
    {VARCH testturn equals 0}
    [then]
      {VARIABLE_OP randotip rand 1..$tips.length}
      {VARIABLE_OP randotip add -1}
      [chat]
	speaker = "TIPS"
	message = $tips[$randotip].message
      [/chat]
      {CLEAR_VARIABLE randotip}
    [/then]
  [/if]
  {CLEAR_VARIABLE testturn}
[/event]